# ======================================
# 系统文件（Mac/Windows）
# ======================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ======================================
# IDE 工具（IDEA / VS Code）
# ======================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.log

# ======================================
# Java 项目
# ======================================
target/
build/
*.class
*.jar
*.war
*.ear
*.javac
*/target/*

# ======================================
# 微信小程序
# ======================================
miniprogram_npm/
node_modules/
*.log
*.tmp
.project